# Environment files
.env
frontend/.env
backend/.env

# Secrets
backend/huggingfacePassword.txt
project register creadentials.txt

# Python
venv/
backend/venv/

# Editor
.vscode/

# Supabase temp
frontend/supabase/.temp/

backend/render.yaml
backend/runtime.txt



# Node modules
node_modules/

# Python
__pycache__/

